.title_card_gerente{
    font-size: 1em;
    color: white;
    margin: 0px 0px 0px 180px;
}

html, body{
    background-image: url(../../img/bg.png) !important;
    background-repeat: repeat !important;
}

.absence{
    text-align: center; 
    color:white;
     border-bottom:2px solid yellow;
     width:50%;
}
.not_absence{

    text-align: center; 
    color:white; 
    border-bottom:2px solid yellow; 
    width:50%;
}
.IF_class{
   font-size:20px;
    color:white;
    width:10%;
    height:20%; 
}
#nodisplay{
    
    width: 30px;
    height: 30px;
    text-align: center;
    border: collapse;
    background-color: rgb(38, 50, 56);
}
#display{
    border: 3px solid white;
    width: 30px;
    height: 30px;
    text-align: center;
    border: collapse;
    font-size:20px;
    color:white;
}
.R{
    background-color: red;
}
.G{
    background-color: green;
}
.Y{
    background-color: rgb(189, 189, 3);
}  
.cruz{
    display: inline-block;
    margin-left: 5%;
}
.son#table{
    display: inline-block;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width:400px; 
    height:200px;
}
.titulo{
    font-size:55px;
}
.titulo b{
    color: white;
    font-family: Safety;
    font-style: italic;
}
.pie {
    width: 30px;
    background: grey;
    border-radius: 50%;
}
.pie circle {
    fill: none;
    stroke: black;
    stroke-width: 32;
    animation: rotate 1.5s ease-in;
} 
  @keyframes rotate {
    to {
      x
    } 
  }

tr:nth-child(even).zig {
    background-color: #222b30;
}
tr:nth-child(odd).zig {
    background-color: #263238;;
}

#table, #th, #td {
    border: 1px solid black;
    border-collapse: collapse;
}

#th{
    background-color: yellow;
    color: black;
}
.red{
  background-color: rgba(253, 86, 84, 0.3)  
}
.green{
    background-color: rgba(65, 236, 66,0.3)
}
.no_color{
    background-color: #2F323A
}
