body, html{
	background-color: #222b30;
}

table {
	width: 100%;
	border-collapse: collapse;
}
th {
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	padding: 15px;
	background-color:#222b30;
	color: white;
}
td {
	font-size: 15px;
    text-align: center;	
    padding: 8px;
    color: white;
}
tr:nth-child(even).zig {
	background-color: #222b30;
}
tr:nth-child(odd).zig {
    background-color: #263238;
}
tr:hover.zig{
	border:1px solid #669999;
}
#red {
	-webkit-animation: background 0.5s cubic-bezier(1,0,0,1) infinite;
  	animation: background 1.0s cubic-bezier(1,0,0,1) infinite;  
}
@-webkit-keyframes background {
  25% { background-color: #f04444; }
  50% { background-color: #dd5555; }
  75% { background-color: #f83b3b; }
  100% { background-color: #f87171; }
 
}
@keyframes background {
	25% { background-color: #f04444; }
	50% { background-color: #dd5555; }
	75% { background-color: #f83b3b; }
	100% { background-color: #f87171; }
}
#yellow {
	-webkit-animation: background_s 0.5s cubic-bezier(1,0,0,1) infinite;
  	animation: background_s 1.0s cubic-bezier(1,0,0,1) infinite;  
}
@-webkit-keyframes background_s {
  25% { background-color: #ffff00; }
  50% { background-color: #ffff00d3; }
  75% { background-color: #ffff0094; }
  100% { background-color: #ffff0062; }
 
}
@keyframes background_s {
	25% { background-color: #ffff00; }
	50% { background-color: #ffff00d3; }
	75% { background-color: #ffff0094; }
	100% { background-color: #ffff0062; }
}
