table.classic {
	width: 100%;
	border-collapse: collapse;
}
th.classic {
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	padding: 5px;
	background-color:#e6e600;
	color: white;
}
td.classic {
	font-size: 0.9em;
    text-align: center;
    padding: 3px;
    color: white;
    height: 10%;
}
tr:nth-child(even).zig {
	background-color: #222b30;
}
tr:nth-child(odd).zig {
    background-color: #263238;
}
tr:hover.zig{
	background-color: #e1d704;
}