.filterbox {
	background-color: rgba(75,75,75,1);
	padding: 15 25 0 25;
	margin: 5px 5px 5px 5px;
	color: white;
	border-radius: 25px;
	display: inline-flex;
}
table {
	text-align: center;
	border: 1px solid rgba(52,52,52,0.5);
	margin: 1% 2% 1% 2%;
	border-radius: 25px;
	border-collapse: collapse;

}
td {
	text-align: center;
	border: 1px solid rgba(52,52,52,0.5);
	background-color: rgb(246, 249, 250);
	width: 45px;
	height: 45px;
}
td:hover{
	background-color: rgb(230, 230, 220);
}
th{
	text-align: center;
	border: 1px solid rgba(52,52,52,0.5);
	background-color: rgb(52, 55, 56);
	color: white;
	font-size: 15px;
	width: 30px;
	height: 30px;
}
