#content{
  margin-top: 2.5%;
}
body, html{
  background-image: url("../../static/img/bg.png");
}
.title b{
	color:yellow;
	vertical-align: 33%;
	font-size:20px;
	position: absolute; 
	top:9px;
	left: 250px; /* posiciona a 90px para a esquerda */ 
}


.title_2 b{
	color:yellow;
	vertical-align: right;
	font-size:20px;
	position: absolute; 
	top:70px;
	left: 5%; /* posiciona a 90px para a esquerda */ 

}
.title_3 b{
	color:yellow;
	vertical-align: right;
	font-size:50px;
	position: absolute; 
	text-align: center;
	top: 100px;
	left: 5%; /* posiciona a 90px para a esquerda */ 
}
table {
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%;
  border:none;
}
th{
  color: white;
}
td {
  text-align: center;
  color: white;
	height: 100%;
  padding: 15px;
  font-weight: 900;
	background-color: rgb(146, 93, 68);
	font-size: 30px;
	border-radius: 15px;
}
.time{
    margin-left: 25%;
}

#A13 {
	-webkit-animation: background 0.5s cubic-bezier(1,0,0,1) infinite;
  	animation: background 0.5s cubic-bezier(1,0,0,1) infinite;  
}

#X13 {
	background-color: blue;
}

@-webkit-keyframes background {
  5% { background-color: #0000ff; }
  10% { background-color: #0000e2; }
  15% { background-color: #0000c6; }
  20% { background-color: #0000a9; }
  25% { background-color: #00008d; }
  35% { background-color: #000071; }
  40% { background-color: #000054; }
  50% { background-color: #000038; }
  60% { background-color: #00001c; }
  65% { background-color: #000000; }
  70% { background-color: #00001c; }
  75% { background-color: #000038; }
  80% { background-color: #000054; }
  85% { background-color: #000071; }
  90% { background-color: #00008d; }
  95% { background-color: #0000a9; }
  98% { background-color: #0000c6; }
  100% { background-color: #0000e2; }
}

@keyframes background {
 5% { background-color: #0000ff; }
  10% { background-color: #0000e2; }
  15% { background-color: #0000c6; }
  20% { background-color: #0000a9; }
  25% { background-color: #00008d; }
  35% { background-color: #000071; }
  40% { background-color: #000054; }
  50% { background-color: #000038; }
  60% { background-color: #00001c; }
  65% { background-color: #000000; }
  70% { background-color: #00001c; }
  75% { background-color: #000038; }
  80% { background-color: #000054; }
  85% { background-color: #000071; }
  90% { background-color: #00008d; }
  95% { background-color: #0000a9; }
  98% { background-color: #0000c6; }
  100% { background-color: #0000e2; }
}
