
#apps{
	margin: 0% 5% 5% 5%;
	width: 90%;
	height: 23%;
	display: inline-block;
}

#app{
	display: inline-block;
	padding: 15px 15px 50px 15px;
	align-content: center;
	margin-top: 3%;
	margin-left: 1%;
	margin-right: 1%;
	width: 15%;
	height: 200px;
	border-radius: 10px;
	/*background-color: rgba(235,235,235,0.8);*/
	/*border: 1px solid red;*/
}
#app:hover{
	background-color: rgba(235,235,0,0.5)
}
#app_img{
	align-self: center;
	margin-top: 10px;
	width: 120px;
	height: 120px;
}

#app_name{
	position: relative;
	margin-top: 35px;
	color: white;
	font-size: 1.2em;
}

