
table.results{
  color: white;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

table.results th{
  color: #fcde00;
  font-size: 0.9em;
  font-weight: bold;
}

table.results td{
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

table.resultsVMI{
  color: white;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

table.resultsVMI th{
  color: #fcde00;
  font-size: 0.9em;
  font-weight: bold;
}

table.resultsVMI td{
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

.fases{
    margin-top: 0.6%;
    position: relative;
    width: 100%;
    height: 33%;
}

.fase{
    width: 33.3%;
    float: left;
}

.ontem{
    position: relative;
    width: 100%;
    background-color:#263238;
    height: 30%;
}

.faseOntem{
    width: 33.3%;
    float: left;
    background-color:#263238;
}

.cvmi{
    margin-top: 2%;
    position: relative;
    width: 100%;
    height: 30%;
}

.vmi{
    width: 20%;
    float: left;
}

.plot{
    width: 400px;
    height: 300px;
    margin-left: 15px;
    margin-top: 30px;     
}
.Dash{
    display: inline-block;
    width: 100%;
    height: 70%;    
    margin: 1%;
    background-color: rgb(226, 220, 220);
    text-align: center;
    align-content: center;  
}
.DashVMI{
    display: inline-block;
    width: 18%;
    height: 70%;    
    margin: 0.5%;
    background-color:  rgb(241, 241, 241);
    text-align: center;
    align-content: center;  
}
.DashTitle {
    top: 1px;
    width: 100%;
    margin: 0px;
    margin-right: 0px;
    align-self: center;
    text-align: center;
    
}

.DashSubTitle {
    top: 1px;
    width: 100%;
    margin: 0px;
    margin-right: 0px;
    align-self: center;
    text-align: center;
    font-size: 2em;
    color: #fcde00;
    
}
.Titlemain {
    text-align: center;
    font-style: normal;
}
.FirstDash{
    align-items: baseline;
}
.Dash1{
    width: 96%;
    height: 40%;
    background-color: dimgrey;
}

.Footerdash{
    background-color:  rgb(241, 241, 241);
    height: 30%;
    width: 100%;

}
.Footerdashson{
    font-style: Gotham-Bold;
    display: inline-block;
    width: 30%;
    height: 5%;    
    margin: 1%;
    background-color: rgb(226, 220, 220);
    text-align: center;
}
#green{
    background-color: #238A01;
}
#yellow{
    background-color: #E67E09;
    color: black;
}
#red{
    background-color: #A50000;
    color: black;
}
#blue{
	background-color: 	#0080ff;
}
body, html{
    /*background-color: #222b30;*/
    background-image: url('../../static/img/bg.png');
    height: 100%;
}
#sem_dados{
    display: none;
}

.time{
    margin-left: 25%;
}

.zoom {
    overflow: hidden;
}

.zoom .circle_int {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  transition: all 0.3s;
  
}

.zoom:hover .circle_int {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.circle_ext{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
  border: 20px inset #536e7b85;
  width: 202px;
  height: 202px;
  border-radius: 50%;
  align-self: center;
  margin: 0 auto;
}

.circle_int{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px inset grey;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-self: center;
  margin: 0 auto;
  /* padding: 5px; */
  /* background-image: url("../assets/img/gauge.png"); */
}

.circle_int_vmi{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px inset grey;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-self: center;
  margin: 0 auto;
  /* padding: 5px; */
  /* background-image: url("../assets/img/gauge.png"); */
}

#content{
  margin-top: 3%;
}